.discription{
	width: 480px;
	margin-top: 40px;
}

.discription h5{
	font-weight: bold;
	text-align: center;
}

.discription ul{
	font-size: 14px;
}

.ask{
	height: 375px;
	text-align: center;
	border-radius: 15px;
	box-shadow: 0 0 5px #989292;
	background-color: white;
	padding-top: 30px;
	margin: 10px auto;
	max-width: 600px;
}

.ask h5{
	margin-top: 0;
}

.ask form{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.ask form .form-group{
	width: 100%;
	margin-bottom: 15px;
}

.ask form .form-control{
	width: 100%;
	border-radius: 5px;
	border: none;
	box-shadow: 0 0 5px #989292;
	padding: 10px;
	font-size: 16px;
	resize: none;
}

.ask form .d-grid{
	width: 100%;
}

.post-question-button{
	width: 100%;
	font-size: 16px;
	padding: 10px;
	background-color: #516cf0;
	border: none;
	color: white;
	border-radius: 5px;
	transition: background-color 0.3s ease;
}

.post-question-button:hover{
	background-color: #3448a2;
	cursor: pointer;
}
