*{
  margin: 0;
  padding: 0;
}

body{
   font-family: 'Montserrat', sans-serif;
}

.signin-button{
  background-color: #516cf0;
  border: none;
  color:white;
  width: 200px;
  font-size: 15px;
  font-weight: bolder;
  margin-left: 15%;
 
}
.signin-button:hover{
background-color: #fe8402;
}

#navbarTogglerDemo02{
  height: 70px;
}

.navbar-nav{
  margin-left: 50%;
}

/* .login-section .all{
height: 430px;
} */

.login-button{
border: none;
}

.login-button:hover{
  background-color: #fe8402;
}

.evangadi-title{
  font-size: 32px;
  color: #4b456f;
  line-height: 52px;
  font-weight: 600;
}

.first-join{
font-size: 40px;
  color: #4b456f;
  font-weight: 600;
}

.login-flex{
  display: flex;
}

.login-flex div{
  width: 48%;
}
.login-flex .second{
  margin-left: 5%;
}
.login-description{
  color: #868686;
  font-size: 15px;
  line-height: 28px;
  margin-top: 20px;
}
.how-it-work-button{
background-color: #fe8402;
border: 1px solid #fe8402;
width: 162px;
height: 41px;
border-radius: 8px;
}

.how-it-work-button a{
  text-decoration: none;
  color: white;
}


.checked{
  color: #fe8402;
}

footer{
  background-color: #3B455A;
  color: white;
  justify-content: space-around;
  padding-top: 4%;
}
footer img{
margin-bottom: 20px;
}


footer a{
  text-decoration: none;
  color: rgba(213, 213, 213, 0.6);
  font-size: 15px;
} 
li{
list-style: none;
} 



































