.home{
  margin-bottom: 278px;
}
.home-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  
  .ask-question-button {
    background-color: #516cf0;
    border: none;
    color: white;
    width: 200px;
    font-size: 15px;
    margin-left: 15%;
  }
  
  .ask-question-button:hover {
    background-color: #fe8402;
  }
  
  .home-welcome {
    font-weight: bold;
    font-size: 18px;
  }
  .account-Icon {
    width: 120px;
    text-align: center;
  }
 
  .question-outer-wraper a{
    text-decoration: none;
  }
  
  







 