.home-welcome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .home-welcome div {
    font-size: 18px;
  }
  
  .home-welcome a {
    font-size: 14px;
  }
  
 
  
  .question-outer-wraper {
    margin-top: 30px;
  }
  
 
  .name {
    margin-top: 5px;
    font-size: 14px;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .answer-main-wraper {
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #f8f9fa;
    padding: 5px;
    border: 1px solid #dee2e6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
  }
  
  .post-answer-button {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .post-answer-button:hover {
    background-color: #0062cc;
    border-color: #005cbf;
  }
  