.landingPage{
    background-image: url("../../Images/bg-svg-f.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
}
.login-section {
    height: 500px;
}
.submit_button{
  color: #fff;
  border: none;
  width: 150px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding: 12px;
}
.submit_button:hover{
  background-color: #fe8402;
}
.navigateLink{
  color: #FF4D00; 
  border: none;
  background-color: none;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
.about_link{
  color: #FF4D00;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
.how_it_work_btn{
  background-color: #fe8402;
  border: 1px solid #fe8402;
  width: 162px;
  height: 41px;
  border-radius: 8px;
  }
  
  .how_it_work_btn a{
    text-decoration: none;
    color: white;
  }
  .login_description{
    color: #868686;
    font-size: 15px;
    line-height: 28px;
    margin-top: 20px;
  }
  .description_title{
    font-size: 32px;
    color: #4b456f;
    line-height: 52px;
    font-weight: 600;
  }
  .login-box{
    z-index: 1000;
    background-color: white;
  }
  
/* Style for the visibility off icon */
.password-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    cursor: pointer;
    z-index: 1000;
  }
  
  .password-toggle:hover {
    opacity: 0.8;
  }
  
  .password-toggle:focus {
    outline: none;
  }
  
  input[type="password"] {
    padding-right: 44px;
  }
  
  input[type="password"]:focus + .password-toggle {
    display: block;
  }
  .password-toggle svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: #a6a6a6;
  }
  
  